/.idea
target/

*.orig
*.iml
*.class
*.jar
*.ipr
*.iml
*.iws
*.jasper
.project
.classpath
.settings
webapp/src/main/webapp/node_modules
webapp/src/main/webapp/node
webapp/src/main/webapp/build
webapp/src/main/webapp/favicon.ico
webapp/src/main/webapp/index.html
deploy.sh
templates/.metadata
templates/MyReports/.settings
templates/MyReports/bin